/* Logo */
.logo-text{
	color: #404040;
	font-size: 1.2em;
	margin-left: 5px;
}
.image-table{
	height: 100px;
	width: 80px;
}

/* Override */
.select2-container--default .select2-selection--single{
	border: 1px solid #e9ecef;
	border-radius: 2px;
	padding: .375rem .75rem;
}
.select2-container .select2-selection--single{
	height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 38px;
}